<div class="relative bg-gray-800 overflow-hidden">
  <div class="relative pt-6 pb-6">
    <div>
      <nav class="relative max-w-7xl mx-auto flex items-center justify-between px-4 sm:px-6" aria-label="Global">
        <div class="space-x-14 flex mx-auto">
          <!-- Generate nav from navigation.yml-->

          {% for item in site.data.navigation %}
          
          <a href="{{ item.link }}" 
            class="font-medium text-white hover:text-gray-300 {% if page.url == item.link %}underline{% endif %}">
            {{ item.name }}
          </a>

          {% endfor %}

        </div>
      </nav>
    </div>
  </div>
</div>