---
layout: default
---

<div class="relative py-16 bg-white overflow-hidden">
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="text-lg max-w-prose mx-auto">
      <h1>
        <span class="mt-2 block text-3xl leading-8 font-semibold tracking-tight text-gray-900 sm:text-5xl">{{ page.title }}</span>
        <span class="mt-2 block text-l leading-8 tracking-tight text-gray-900 sm:text-xl">{{ page.date | date_to_string }}</span>
      </h1>
      <img class="w-full mx-auto my-4" src="{{ page.image }}" alt="{{ page.image_alt }}">
      <div class="mt-6 prose prose-indigo prose-lg text-gray-500 mx-auto">{{ content }}</div>
    </div>
  </div>
</div>